@page "/"

<h1>All Data Binding</h1>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label>Product Name : @product.Name</label>
                <input type="text" @bind-value="product.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label>Radion Box :@selectedRadio </label>
                <input type="radio" class="form-control" name="group" value="1" @onclick="@(()=>selectedRadio=1)" />
                <input type="radio" class="form-control" name="group" value="2" @onclick="@(()=>selectedRadio=2)" />
            </div>
            <div class="form-group">
                <label>Check box : @selectedCheckBox</label>
                <input type="checkbox" class="form-control" @bind-value="selectedCheckBox"  />
            </div>
            <div class="form-group">
                <label>Selected List @selectedDropDownList </label>
                <select class="form-control" @bind="selectedDropDownList">
                    <option selected disabled>--Please Select---</option>
                    @foreach (var prod in Products)
                    {
                        <option value="@prod.Id">@prod.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>

@code{
    private Product product = new Product { Id = 2, Name = "Black Carbon", Brand = "Lakme" };
    private int selectedRadio { get; set; } = 0;
    private bool selectedCheckBox = false;

    private int selectedDropDownList = 0;
    private List<Product> Products = new List<Product>
    {
        new Product {Id=401,Name="Mayblien",Brand="tested"},
        new Product {Id=402,Name="Test Eyeliner", Brand="Lets barnad"},
    };
}
